<div class="container aw-gallery-container">
   <div class="col-sm-5 aw-gallery-gallery-set">
      <div class="aw-gallery-gallery-data">
         <span id="back">
            <a routerLink="/gallery-list/"> &lt; </a>
         </span>
         <span id="metas">
            <h4 class="aw-gallery-title">{{gallery?.title}}</h4>
            <h6 class="aw-gallery-meta">{{gallery?.creation_date}} // {{gallery?.category}} <span></span></h6>
         </span>
      </div>
      <div class="aw-gallery-thumbnail">
         <span class="aw-gallery-thumb" *ngFor="let thumb of gallery?.pictures" (click)="activatePicture(thumb.src)">
            <img class ="aw-gallery-thumb-img" [src] = "thumb.src" />
         </span>
      </div>
   </div>
   <div class="col-sm-7 aw-gallery-active-pic">
      <div *ngIf="activePicture">
         <div class="aw-gallery-current-image">
            <img id="activePic" [src]="activePicture" (mousemove)="zoomIn($event)" (mouseout)="zoomOut()" />
         </div>
      </div>
   </div>
    <div id="zoom-container" (mousemove)="zoomIn($event)"></div>
</div>
