@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../app.component.scss';

// Main Template
$width: 15vw;

.container {
   position: absolute;
   max-width: 100%;
   width: 100%;
}

.aw-gallery-container {
   position: relative;
   display: inline-block;
   padding: .75%;
}

.aw-gallery-galleries {
   min-width: $width;
   min-height: $width;
   position: relative;
   background-color: #fff;
   box-shadow: 0 0 10px 0px #e7e7e7;
   overflow: hidden;
   .aw-gallery-thumb-img {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url(../../assets/loading.gif) 50% no-repeat;
      img {
         width: 100%;
      }
   }
}

.aw-gallery-thumb-meta {
   position: absolute;
   display: none;
   width: 100%;
   height: 100%;
   padding: 30% 3%;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 600;
   background-color: rgba(0, 0, 0, .5);
   z-index: 2;
   color: #fff;
}

.aw-gallery-galleries:hover .aw-gallery-thumb-meta {
   display: block;
   cursor: pointer;
}

// Opened Gallery
#opened-gallery {
   width: 100%;
   height: 100%;
   overflow: hidden;
   display: none;
   position: absolute;
   background-color: rgba(255, 255, 255, .75);
   z-index: 3;
   top: 0;
   #close {
      background-color: rgba(0, 0, 0, .5);
      height: 50px;
      width: 50px;
      z-index: 4;
      font-size: 30px;
      color: #fff;
      top: 10vh;
      position: fixed;
      border: none;
      cursor: pointer;
   }
   #close:hover {
      background-color: red;
   }
   #close:active {
      background-color: darkred;
   }
   .aw-gallery-container {
      background-color: #fff;
      box-shadow: 0 0 15px 0px #e7e7e7;
      width: 35%;
      margin: 8vh auto 0 auto;
      z-index: 5;
   }
}

// Gallery
.aw-gallery-gallery-set {
   text-align: center;
}

.aw-gallery-thumbnails {
   margin-bottom: 3vh;
   width: inherit;
   padding: 1%;
   overflow: auto;
   white-space: nowrap;
}

.aw-gallery-thumb {
   display: inline-block;
   height: 9vh;
   width: 15vh;
   margin-left: 1%;
   overflow: hidden;
   cursor: pointer;
   .aw-gallery-thumb-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: url(../../assets/loading.gif) 50% no-repeat;
      img {
         width: 120%;
      }
   }
}

.aw-gallery-data-container {
   margin-bottom: 1%;
}

.aw-gallery-gallery-data {
   .aw-gallery-title {
      font-size: 2em;
      font-weight: 700;
      font-family: 'Source Sans Pro', sans-serif;
   }

   .aw-gallery-meta {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase;
   }
}

.aw-gallery-curr-container {
   height: 57.5vh;
}

.aw-gallery-current-image {
   overflow: hidden;
   display: flex;
   height: 100%;
   width: 100%;
   justify-content: center;
   align-items: center;
   background: url(../../assets/loading.gif) 50% no-repeat;
   img {
      max-height: 100%;
      max-width: 100%;
   }
}

// Scrollbar
::-webkit-scrollbar {
   height: 5px;
   border-radius: 5px;
}

/* Track */

::-webkit-scrollbar-track {
   background: #f8f9fa;
}

/* Handle */

::-webkit-scrollbar-thumb {
   background: #b7d6ef;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
   background: dodgerblue;
}
