@import '../../../node_modules/bootstrap/scss/bootstrap'
   
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Serif+Pro');

body{
   font-family: 'Source Serif Pro', serif !important;
   background-color: #f6f6f6 !important;
   padding-top: 50px;
}

img {
   width: 16vw;
   margin-top: -50px;
}

li {
   list-style: none;
}

.aw-gallery-big-pcture {
   text-align: center;
   
}

.aw-gallery-big-picture-thumb{
   display: inline-block;
   height: 8vh;
   width: 15vw;
   margin-left: 10px;
   overflow: hidden;
   border-radius: 5px;
   box-shadow: 0 0 15px 0px #cfcfcf;
}

.aw-gallery-gallery-data-container{
   padding-top: 50px;
   background-color: white;
   display: flex;
   box-shadow: 0 0 10px 0px #e7e7e7;
   border-radius: 5px;
   align-items: flex-end;
   flex-direction: column;
}

.aw-gallery-gallery-data {
   text-align: right;
   
}

.aw-gallery-gallery-data .title {
   font-size: 2em;
   font-weight: 700;
   font-family: 'Source Sans Pro', sans-serif;
}

.aw-gallery-gallery-data .aw-gallery-gallery-meta{
   font-family: 'Source Sans Pro', sans-serif;
   font-size: .8em;
   font-weight: 400;
   text-transform: uppercase;
}