@import '../../node_modules/bootstrap/scss/bootstrap.scss';
   
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Serif+Pro'); 

.aw-gallery-container {
   padding-top: 3vw;
   text-align: center;
   width: calc(100vw - 4em);
}



.aw-gallery-button-cta {
   font-size: calc(0.25vw + 0.5em);
   width: calc(10vw + 1em);
   height: calc(2vw + 1em);
   border-radius: 20px / 40px;   
   border: 2px solid #cfcfcf;
   background-color: #d5d5d552;
   font-family: "Source Serif Pro", sans-serif !important;
   box-shadow: 0 0 20px 0 #ccc;
   color: dimgray;
   
}
