
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Serif+Pro'); 

body {
   font-family: 'Source Serif Pro', serif !important;
   background-color: #f6f6f6 !important;
}
nav{
   margin-bottom: calc(10vh + 1em) !important;
   background-color: #fff;
   box-shadow: 0 0 15px 0 #cfcfcf;
}