@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../app.component.scss';

.aw-gallery-container{
   display: inline-block;
   padding: .75%;
}

.aw-gallery-galleries{
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 10px 0px #e7e7e7;
   overflow: hidden;
   .aw-gallery-thumb-img{
      display: block;
      width: 100%;
      height: 125px;
      overflow: inherit;
      img{
         width: 100%;
      }
   }
   .aw-gallery-thumb-meta{
      display: block;
      padding: 3%;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
   }
}