<div class = 'container aw-gallery-container'>
   <div class = 'aw-gallery-data-container'>
      <div class = 'aw-gallery-gallery-data'>
         <h4 class = 'aw-gallery-title'>{{gallery.title}}</h4>
         <h6 class = 'aw-gallery-meta'>{{gallery.creation_date}} // {{gallery.category}} <span></span></h6>
      </div>
   </div>
   
   <div class = 'aw-gallery-gallery-set'>
      <div class = 'aw-gallery-thumbnails'>
         <span class = 'aw-gallery-thumb' *ngFor = "let thumb of gallery.Pictures" (click) = "activatePicture(thumb)">
            <img class = 'aw-gallery-thumb-img' [src] = "thumb.picture" />
         </span> 
      </div>
      <div *ngIf = 'activePicture'>
         <div class = 'aw-gallery-current-image'>
            <img [src] = 'activePicture.picture' />
         </div>
      </div>
   </div>
</div>
