<div class = 'aw-gallery-container'>
   <div class = 'aw-gallery-data-container'>
      <div class = 'aw-gallery-gallery-data'>
         <h4 class = 'title'>{{gallery.title}}</h4>
         <h6 class = 'aw-gallery-meta'>{{gallery.creation_date}} // {{gallery.category}} <span></span></h6>
      </div>
   </div>
   
   <div class = 'aw-gallery-gallery-set'>
      <div class = 'aw-gallery-thumbnails'>
         <span class = 'aw-gallery-pic-thumb'><img src = "{{gallery.thumbnail}}" /></span> 
      </div>
      <div class = 'aw-gallery-choosen-pic'></div>
   </div>
</div>
