@import '../gallery/gallery.component.scss';
@import '../app.component.scss';

.aw-gallery-gallery-set {
   text-align: center;
   margin-top: 2vh;
}

.aw-gallery-thumbnails {
   height: 10vh;
   margin-bottom: 0;
   padding-bottom: 0;
}

.aw-gallery-thumb {
   display: inline-block;
   height: 10vh;
   width: 19vh;
   margin-left: 1%;
   overflow: hidden;
   border-radius: 5px;
   box-shadow: 0 0 15px 0px #cfcfcf;
   cursor: pointer;
   .aw-gallery-thumb-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #fff;
      background: url(../../assets/loading.gif) 50% no-repeat;
      img {
         width: 100%;
      }
   }
}

.aw-gallery-data-container {
   background-color: white;
   box-shadow: 0 0 10px 0px #e7e7e7;
   padding: .5%;
}

.aw-gallery-gallery-data {
   .aw-gallery-title {
      font-size: 2em;
      font-weight: 700;
      font-family: 'Source Sans Pro', sans-serif;
   }

   .aw-gallery-meta {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase;
   }
}

.aw-gallery-current-image {
   overflow: hidden;
   border-radius: 5px;
   margin-top: 2vh;
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url(../../assets/loading.gif) 50% no-repeat;
   img {
      max-height: 100%;
      box-shadow: 0 0 10px 0px #cfcfcf;
      border-radius: 5px;
   }
}